<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devoops.rentalbrain.customer.customeranalysis.customerchurnsnapshot.query.mapper.CustomerChurnSnapshotQueryMapper">

    <!-- 전체 고객수 -->
    <select id="countTotalCustomers" resultType="int">
        SELECT
              COUNT(*)
         FROM customer
    </select>
    <!--    -->
    <select id="countMonthRiskCustomers" resultType="int">
        SELECT
              COUNT(DISTINCT customer_id)
         FROM customer_churn_snapshot
        WHERE snapshot_month = #{snapshotMonth}
          AND is_churn_risk = 'Y'
    </select>

    <!-- 차트 X축 월 목록 (스냅샷이 존재하는 월만 뽑음) -->
    <!-- <![CDATA[ ~~ ]]> [] 안의 기호를 그대로 받아내는 것  -->
    <select id="findMonthsBetween" resultType="string">
        SELECT DISTINCT snapshot_month
        FROM customer_churn_snapshot
        WHERE snapshot_month <![CDATA[ >= ]]> #{fromMonth}
        AND snapshot_month <![CDATA[ <= ]]> #{toMonth}
        ORDER BY snapshot_month
    </select>

</mapper>
