<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devoops.rentalbrain.business.campaign.query.mapper.CouponMapper">
    <resultMap id="getCouponMap" type="com.devoops.rentalbrain.business.campaign.query.dto.CouponDTO">
        <id property="couponCode" column="COUPON_CODE"/>
        <result property="name" column="NAME"/>
        <result property="rate" column="RATE"/>
        <result property="type" column="TYPE"/>
        <result property="minFee" column="MIN_FEE"/>
        <result property="segmentName" column="SEGMENT_NAME"/>
        <result property="status" column="STATUS"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="datePeriod" column="DATE_PERIOD"/>
        <result property="content" column="CONTENT"/>
        <result property="issued" column="ISSUED"/>
        <result property="used" column="USED"/>
        <result property="usedRate" column="USED_RATE"/>
    </resultMap>
    <select id="selectCoupon" resultMap="getCouponMap" parameterType="_int">
        SELECT
               A.COUPON_CODE,
               A.NAME,
               A.RATE,
               A.TYPE,
               A.MIN_FEE,
               B.NAME AS SEGMENT_NAME,
               A.STATUS,
               A.START_DATE,
               A.END_DATE,
               A.CONTENT,
               COUNT(C.ID) AS ISSUED,
               COUNT(CASE WHEN C.IS_USED = 'Y' THEN 1 END) AS USED,
               (COUNT(CASE WHEN C.IS_USED = 'Y' THEN 1 END)/COUNT(C.id))*100 AS USED_RATE
          FROM coupon A
          LEFT JOIN segment B ON A.SEGMENT_ID = B.ID
          LEFT JOIN issued_coupon C ON A.ID = C.COUPON_ID
         GROUP BY A.ID, A.NAME
         ORDER BY A.COUPON_CODE DESC
         LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="countCouponList">
        SELECT
               COUNT(*)
          FROM coupon A
    </select>
    <select id="searchCoupon" resultMap="getCouponMap" parameterType="map">
        SELECT
               A.COUPON_CODE,
               A.NAME,
               A.RATE,
               A.TYPE,
               A.MIN_FEE,
               B.NAME AS SEGMENT_NAME,
               A.STATUS,
               A.START_DATE,
               A.END_DATE,
               A.CONTENT,
               COUNT(C.ID) AS ISSUED,
               COUNT(CASE WHEN C.IS_USED = 'Y' THEN 1 END) AS USED,
               (COUNT(CASE WHEN C.IS_USED = 'Y' THEN 1 END)/COUNT(C.id))*100 AS USED_RATE
          FROM coupon A
          LEFT JOIN segment B ON A.SEGMENT_ID = B.ID
          LEFT JOIN issued_coupon C ON A.ID = C.COUPON_ID
         WHERE A.COUPON_CODE LIKE CONCAT('%', #{keyword}, '%') OR A.NAME LIKE CONCAT('%', #{keyword}, '%')
         GROUP BY A.ID, A.NAME
         ORDER BY A.COUPON_CODE DESC
         LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="countSearchedCoupon" parameterType="string">
        SELECT
               COUNT(*)
          FROM coupon A
         WHERE A.COUPON_CODE LIKE CONCAT('%', #{keyword}, '%') OR A.NAME LIKE CONCAT('%', #{keyword}, '%')
    </select>
    <select id="filteringCouponByType" resultMap="getCouponMap" parameterType="map">
        SELECT
               A.COUPON_CODE,
               A.NAME,
               A.RATE,
               A.TYPE,
               A.MIN_FEE,
               B.NAME AS SEGMENT_NAME,
               A.STATUS,
               A.START_DATE,
               A.END_DATE,
               A.CONTENT,
               COUNT(C.ID) AS ISSUED,
               COUNT(CASE WHEN C.IS_USED = 'Y' THEN 1 END) AS USED,
               (COUNT(CASE WHEN C.IS_USED = 'Y' THEN 1 END)/COUNT(C.id))*100 AS USED_RATE
          FROM coupon A
          LEFT JOIN segment B ON A.SEGMENT_ID = B.ID
          LEFT JOIN issued_coupon C ON A.ID = C.COUPON_ID
         WHERE A.TYPE = #{type}
         GROUP BY A.ID, A.NAME
         ORDER BY A.COUPON_CODE DESC
         LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="countFliteringCoupon" parameterType="string">
        SELECT
               COUNT(*)
          FROM coupon A
         WHERE A.TYPE = #{type}
    </select>
    <select id="filteringCouponByStatus" resultMap="getCouponMap" parameterType="map">
        SELECT
               A.COUPON_CODE,
               A.NAME,
               A.RATE,
               A.TYPE,
               A.MIN_FEE,
               B.NAME AS SEGMENT_NAME,
               A.STATUS,
               A.START_DATE,
               A.END_DATE,
               A.CONTENT,
               COUNT(C.ID) AS ISSUED,
               COUNT(CASE WHEN C.IS_USED = 'Y' THEN 1 END) AS USED,
               (COUNT(CASE WHEN C.IS_USED = 'Y' THEN 1 END)/COUNT(C.id))*100 AS USED_RATE
          FROM coupon A
          LEFT JOIN segment B ON A.SEGMENT_ID = B.ID
          LEFT JOIN issued_coupon C ON A.ID = C.COUPON_ID
         WHERE A.STATUS = #{status}
         GROUP BY A.ID, A.NAME
         ORDER BY A.COUPON_CODE DESC
         LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="countFliterCouponByStatus" parameterType="string">
        SELECT
               COUNT(*)
          FROM coupon A
        WHERE A.STATUS = #{status}
    </select>
    <resultMap id="getCouponWithContractMap" type="com.devoops.rentalbrain.business.campaign.query.dto.CouponWithContractDTO">
        <id property="couponCode" column="COUPON_CODE"/>
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="content" column="CONTENT"/>
        <result property="rate" column="RATE"/>
        <result property="endDate" column="END_DATE"/>
    </resultMap>
    <select id="useContractCoupon" resultMap="getCouponWithContractMap" parameterType="Integer">
        SELECT
               ID,
               COUPON_CODE,
               NAME,
               CONTENT,
               RATE,
               END_DATE
          FROM coupon
         WHERE SEGMENT_ID = #{segment} AND STATUS = 'A'
    </select>
    <select id="selectEachCoupon" resultMap="getCouponMap" parameterType="string">
        SELECT
               A.COUPON_CODE,
               A.NAME,
               A.RATE,
               A.TYPE,
               A.MIN_FEE,
               B.NAME AS SEGMENT_NAME,
               A.STATUS,
               A.START_DATE,
               A.END_DATE,
               A.DATE_PERIOD,
               A.CONTENT,
               COUNT(C.ID) AS ISSUED,
               COUNT(CASE WHEN C.IS_USED = 'Y' THEN 1 END) AS USED,
               (COUNT(CASE WHEN C.IS_USED = 'Y' THEN 1 END)/COUNT(C.id))*100 AS USED_RATE
          FROM coupon A
          LEFT JOIN segment B ON A.SEGMENT_ID = B.ID
          LEFT JOIN issued_coupon C ON A.ID = C.COUPON_ID
         WHERE A.COUPON_CODE = #{couCode}
         GROUP BY A.ID, A.NAME
    </select>
</mapper>