<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devoops.rentalbrain.common.ai.query.mapper.EmbeddingQueryMapper">
    <resultMap id="getFeedBacksResultMap" type="com.devoops.rentalbrain.common.ai.query.dto.FeedBackEmbeddingDTO">
        <id property="id" column="id"/>
        <result property="feedBackCode" column="feedback_code"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="star" column="star"/>
        <result property="action" column="action"/>
        <result property="cumId" column="cum_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="empId" column="emp_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="createDate" column="create_date"/>
        <result property="segmentName" column="segment_name"/>
    </resultMap>

    <resultMap id="getCsContentsResultMap" type="com.devoops.rentalbrain.common.ai.common.WordDTO">
        <id property="id" column="id"/>
        <result property="keywordText" column="content"/>
        <result property="createdAt" column="create_date"/>
    </resultMap>

    <select id="getFeedBacks" resultMap="getFeedBacksResultMap">
        SELECT
               a.id
             , a.feedback_code
             , a.title
             , a.content
             , a.star
             , a.action
             , a.cum_id
             , d.name as category_name
             , a.emp_id
             , a.channel_id
             , a.create_date
             , c.name as segment_name
        FROM feedback a
                 JOIN customer b ON a.cum_id = b.id
                 JOIN segment c ON b.segment_id = c.id
                 JOIN support_category d ON a.category_id = d.id
    </select>

    <select id="getCsContents" resultMap="getCsContentsResultMap">
        SELECT
               a.id
             , a.content
             , a.create_date
          FROM customer_support a
    </select>

</mapper>