<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devoops.rentalbrain.customer.customerlist.query.mapper.CustomerlistQueryMapper">

    <select id="selectCustomerKpi" resultType="com.devoops.rentalbrain.customer.customerlist.query.dto.CustomerKpiDTO">
        SELECT
                (SELECT COUNT(*) FROM customer WHERE is_deleted = 'N') AS totalCustomers,
                (SELECT COUNT(*) FROM customer c JOIN segment s ON c.segment_id = s.id WHERE s.name = 'VIP 고객' AND c.is_deleted = 'N') AS vipCustomers,
                (SELECT COUNT(*) FROM customer c JOIN segment s ON c.segment_id = s.id WHERE s.name = '이탈 위험 고객' AND c.is_deleted = 'N') AS riskCustomers,
                (SELECT COUNT(*) FROM customer c JOIN segment s ON c.segment_id = s.id WHERE s.name = '블랙리스트 고객' AND c.is_deleted = 'N') AS blacklistCustomers
    </select>

    <select id="selectCustomerList" resultType="com.devoops.rentalbrain.customer.common.CustomerDTO">
        SELECT
        A.id,
        A.customer_code AS customerCode,
        A.name,
        A.in_charge AS inCharge,
        A.dept,
        A.call_num AS callNum,
        A.phone,
        A.email,
        A.business_num AS businessNum,
        A.addr,
        A.memo,
        A.is_deleted AS isDeleted,
        C.name AS segmentName,
        B.name AS channelName,
        (SELECT MIN(start_date) FROM contract WHERE cum_id = A.id) AS firstContractDate,
        COALESCE((SELECT SUM(total_amount) FROM contract WHERE cum_id = A.id), 0) AS totalTransactionAmount,
        (SELECT COUNT(*) FROM contract WHERE cum_id = A.id) AS contractCount
        FROM customer A
        LEFT JOIN channel B ON A.channel_id = B.id
        LEFT JOIN segment C ON A.segment_id = C.id
        <where>
            <choose>
                <when test="status == 'ACTIVE'">
                    AND A.is_deleted = 'N'
                </when>
                <when test="status == 'INACTIVE'">
                    AND A.is_deleted = 'Y'
                </when>
            </choose>

            <if test="name != null and name != ''">
                AND (A.name LIKE CONCAT('%', #{name}, '%') OR A.in_charge LIKE CONCAT('%', #{name}, '%'))
            </if>

            <if test="segments != null and segments.size > 0">
                AND C.name IN
                <foreach item="seg" collection="segments" open="(" separator="," close=")">
                    #{seg}
                </foreach>
            </if>
        </where>
        ORDER BY A.id DESC
        LIMIT #{amount} OFFSET #{offset}
    </select>

    <select id="selectCustomerCount" resultType="long">
        SELECT COUNT(*)
        FROM customer A
        LEFT JOIN segment C ON A.segment_id = C.id
        <where>
            <choose>
                <when test="status == 'ACTIVE'">
                    AND A.is_deleted = 'N'
                </when>
                <when test="status == 'INACTIVE'">
                    AND A.is_deleted = 'Y'
                </when>
            </choose>

            <if test="name != null and name != ''">
                AND (A.name LIKE CONCAT('%', #{name}, '%') OR A.in_charge LIKE CONCAT('%', #{name}, '%'))
            </if>

            <if test="segments != null and segments.size > 0">
                AND C.name IN
                <foreach item="seg" collection="segments" open="(" separator="," close=")">
                    #{seg}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectCustomerDetail" resultType="com.devoops.rentalbrain.customer.customerlist.query.dto.CustomerDetailResponseDTO">
        SELECT
            A.id,
            A.customer_code AS customerCode,
            A.name,
            A.in_charge AS inCharge,
            A.dept,
            A.call_num AS callNum,
            A.phone,
            A.email,
            A.business_num AS businessNum,
            A.addr,
            A.memo,
            C.name AS segmentName
        FROM customer A
                 LEFT JOIN segment C ON A.segment_id = C.id
        WHERE A.id = #{id}
    </select>

    <select id="selectCustomerHistory" resultType="com.devoops.rentalbrain.customer.customerlist.query.dto.CustomerHistoryDTO">
        SELECT type, content, date, performer, status
        FROM (
            SELECT '문의' AS type, title AS content, create_date AS date, (SELECT name FROM employee WHERE id = emp_id) AS performer, status FROM customer_support WHERE cum_id = #{customerId}
            UNION ALL
            SELECT '견적', summary, counseling_date, counselor, '완료' FROM quote WHERE cum_id = #{customerId}
            UNION ALL
            SELECT '계약', name, start_date, '', status FROM contract WHERE cum_id = #{customerId}
            UNION ALL
            SELECT 'AS/점검', contents, due_date, engineer, status FROM after_service WHERE cum_id = #{customerId}
            UNION ALL
            SELECT '피드백', title, create_date, (SELECT name FROM employee WHERE id = emp_id), CAST(star AS CHAR) FROM feedback WHERE cum_id = #{customerId}
            ) combined_history
        ORDER BY date DESC
    </select>

    <select id="selectSupportList" resultType="com.devoops.rentalbrain.customer.customersupport.query.dto.CustomersupportDTO">
        SELECT title, content, status, create_date AS createDate FROM customer_support WHERE cum_id = #{customerId} ORDER BY create_date DESC
    </select>
    <select id="selectQuoteList" resultType="com.devoops.rentalbrain.business.quote.query.dto.QuoteQueryResponseDTO">
        SELECT quote_code AS quoteCode, counseling_date AS counselingDate, counselor, summary FROM quote WHERE cum_id = #{customerId} ORDER BY counseling_date DESC
    </select>
    <select id="selectContractList" resultType="com.devoops.rentalbrain.business.contract.query.dto.ContractSummaryDTO">
        SELECT contract_code AS contractCode, name AS contractName, status, total_amount AS totalAmount, start_date AS startDate FROM contract WHERE cum_id = #{customerId} ORDER BY start_date DESC
    </select>
    <select id="selectAsList" resultType="com.devoops.rentalbrain.product.maintenance.query.dto.AfterServiceSummaryDTO">
        SELECT after_service_code AS asCode, type, status, due_date AS scheduleDate, engineer AS engineerName, contents FROM after_service WHERE cum_id = #{customerId} ORDER BY due_date DESC
    </select>
    <select id="selectFeedbackList" resultType="com.devoops.rentalbrain.customer.customersupport.query.dto.FeedbackDTO">
        SELECT title, star, create_date AS createDate FROM feedback WHERE cum_id = #{customerId} ORDER BY create_date DESC
    </select>
    <select id="selectCouponList" resultType="com.devoops.rentalbrain.business.campaign.query.dto.CouponDTO">
        SELECT C.name, C.status, C.rate FROM issued_coupon IC JOIN coupon C ON IC.coupon_id = C.id WHERE IC.cum_id = #{customerId}
    </select>
    <select id="selectPromotionList" resultType="com.devoops.rentalbrain.business.campaign.query.dto.PromotionDTO">
        SELECT P.name, P.status FROM promotion_log PL JOIN promotion P ON PL.promotion_id = P.id WHERE PL.cum_id = #{customerId}
    </select>

</mapper>